<%- content_for :head_css do %>
  
<%= stylesheet_link_tag 'admin/libs/flatpickr/flatpickr.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'admin/libs/bootstrap-datepicker/bootstrap-datepicker.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/dropzone/dropzone.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/dropify/dropify.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<style>
    @import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
    @import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700');

    .card.bill:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  cursor: pointer;
}

.card.card-body.text-center.bill:hover {
    background-color: #000;
}

.row.reward:hover {
  cursor: pointer;
}

span.ml-2.bill:hover {
    cursor: pointer;
}

</style>

<% end %>

    <div class="wrapper">
        <div class="container">
            <span class="d-lg-block">


    
                
                <div class="row mb-2 mt-2">
                    <div class="col-6">
                        <h1 class="mb-3 mt-2" style="font-family: dosis; font-weight: 500;">Welcome back, <span class="underline">Jane</span>
                        </h1>
                    </div>
                    <div class="col-6">

                        <div class="custom-control custom-switch float-right mt-2">
                            <input type="checkbox" id="check" onclick="Check()" class="custom-control-input">
                            <label class="custom-control-label" for="check">Preview an example employee's homepage</label>
                        </div>

                    </div>

                     
                        

                </div>

           
        <div id="div1">
            <div id = "3" style="display:block">
                <div class="row mt-3 mb-4">
                    <div class="col-lg-12"> 
                        
                        <div class="row mt-3">
                            <div class="col-lg-12">
                                <a href="#">
                                    <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                        <div class="card-body">
                                            <h3 class="card-title mb-3" style="font-family: dosis;">Admin/Continue setup</h3>
                                            <p style="color: #3D3D36;"><i>Show the most relevent admin tasks for people to do. If still in setup mode. Drive people back into the setup flow</i></p>
                                        
                                                <div class="row mt-2" style="margin-bottom: -20px;">
                                                    <div class="col-lg-7">
                                                       
                                                    </div>
                                                     <div class="col-lg-5">
                                                        
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>


                             <div class="row mt-2">
                                    <div class="col-lg-6">
                                        <h3 style="font-family: dosis">Your products</h3>
                                    </div>
                            </div>

                        <div class="row mt-3 mb-4">
                            <div class="col-lg-4">
                                <div class="text-center card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                    <div class="pt-4 pb-2">
                                        <img src="/template-assets/images/users/background.png" class="rounded-circle img-thumbnail avatar-xl" alt="profile-image">

                                        <h3 class="mt-3"><a href="extras-profile.html" class="text-dark">Insights</a></h3>
                                        <p class="mb-3">Measure and improve employee engagement</p>

                                    </div> <!-- end .padding -->
                                </div> <!-- end card-box-->
                            </div>

                            <div class="col-lg-4">
                                <div class="text-center card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                    <div class="pt-4 pb-2">
                                        <img src="/template-assets/images/users/background.png" class="rounded-circle img-thumbnail avatar-xl" alt="profile-image">

                                        <h3 class="mt-3"><a href="extras-profile.html" class="text-dark">Recognition</a></h3>
                                        <p class="mb-3">Reward & recognise top performers</p>

                                    </div> <!-- end .padding -->
                                </div> <!-- end card-box-->
                            </div>

                            <div class="col-lg-4">
                                <div class="text-center card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                    <div class="pt-4 pb-2">
                                        <img src="/template-assets/images/users/background.png" class="rounded-circle img-thumbnail avatar-xl" alt="profile-image">

                                        <h3 class="mt-3"><a href="extras-profile.html" class="text-dark">Perks</a></h3>
                                        <p class="mb-3">Hundreds of exclusive discounts and perks</p>

                                    </div> <!-- end .padding -->
                                </div> <!-- end card-box-->
                            </div>

                        </div>
                    
                        

                 


             <div class="row mt-2">
                    <div class="col-lg-6">
                        <h3 style="font-family: dosis">Company news</h3>
                    </div>
            </div>



            <div id = "div5" style="display:block">
                <div class="row mt-2">
                    <div class="col-lg-12">
                        <div class="card card-body text-center" style="border-style: dashed; border-width: 1px; border-color: #adada2;">
                            <div class="card-body">
                                <div class="mx-auto">
                                    <h3 class="card-title mb-2 pt-3" style="font-family: dosis;">Got important news to share with your company?</h3>
                                    <p>Add a link or video to your employee's homepage. It's a great way to share your culture and what makes you great!</p>
                                        <button onclick="replace();return false"/ type="button" class="btn btn-warning waves-effect waves-light mt-2 mb-5" style="color: #3D3D36">Add link or video</button> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id = "div6" style="display:none">
                <div class="row mt-2">
                    <div class="col-lg-4">
                        <div class="card card-body text-center bill" data-toggle="modal" data-target="#myModal" style="background-color: #f5f5f5;">
                            <div class="card-body">
                                <div class="mx-auto">
                                    <i class="fas fa-plus mt-5"></i> 
                                    <p class="mb-5 mt-2">Add link or video</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-body text-center bill" data-toggle="modal" data-target="#myModal" style="background-color: #f5f5f5;">
                            <div class="card-body">
                                <div class="mx-auto">
                                    <i class="fas fa-plus mt-5"></i> 
                                    <p class="mb-5 mt-2">Add link or video</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-body text-center bill" data-toggle="modal" data-target="#myModal" style="background-color: #f5f5f5;">
                            <div class="card-body">
                                <div class="mx-auto">
                                    <i class="fas fa-plus mt-5"></i> 
                                    <p class="mb-5 mt-2">Add link or video</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto">
                        <a href="" class="btn btn-light waves-effect waves-light" style="background-color: #fff; color: #3D3D36;" id="btn-archive">Cancel</a>
                    </div>
                </div>
            </div>


                </div>




                    
                </div>
            </div>
        </div>

        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header" style="padding: 0px;">
                                <ul class="nav nav-tabs nav-bordered">
                                    <li class="nav-item" style="margin-left: 20px;">
                                        <a href="#home-b1" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                            <h4>Add link</h4>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#profile-b1" data-toggle="tab" aria-expanded="true" class="nav-link">
                                            <h4>Add video</h4>
                                        </a>
                                    </li>
                                </ul>
                                <button type="button" class="close" data-dismiss="modal" class="float-right" aria-hidden="true" style="margin-top: 2px; margin-right: 25px;">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="home-b1">
                                        <div class="row">
                                            <div class="col-lg-6"> 
                                                <form action="/" method="post" class="dropzone" id="myAwesomeDropzone" style="height: 245px">
                                                    <div class="fallback">
                                                        <input name="file" type="file" multiple>
                                                    </div>
                                                    <div class="dz-message needsclick">
                                                        <i class="h1 text-muted dripicons-cloud-upload"></i>
                                                        <p>Upload your image</p>
                                                    </div>
                                                </form>                                   
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group mb-3">
                                                    <label for="simpleinput">Link URL</label>
                                                    <input type="text" id="simpleinput" class="form-control">
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label for="example-textarea">Description</label>
                                                    <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                                                </div>                                      
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane show" id="profile-b1">
                                        <div class="row">
                                            <div class="col-lg-6"> 
                                                <form action="/" method="post" class="dropzone" id="myAwesomeDropzone" style="height: 245px">
                                                    <div class="fallback">
                                                        <input name="file" type="file" multiple>
                                                    </div>
                                                    <div class="dz-message needsclick">
                                                        <i class="h1 text-muted dripicons-cloud-upload"></i>
                                                        <p>Upload a thumbnail for your video</p>
                                                    </div>
                                                </form>                                   
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group mb-3">
                                                    <label for="simpleinput">Video URL</label>
                                                    <input type="text" id="simpleinput" class="form-control">
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label for="example-textarea">Description</label>
                                                    <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                                                </div>                                      
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="" class="btn btn-light waves-effect waves-light" style="background-color: #fff; color: #3D3D36;" id="btn-archive">Save as draft</a>
                                <a href="" class="btn btn-warning waves-effect waves-light" style="color: #3D3D36" id="btn-archive">Save and publish</a>
                            </div>
                        </div>
<!-- /.modal-content -->
                    </div>
<!-- /.modal-dialog -->
                </div>


        <div id="div3" style="display:none">
            <div id = "3" style="display:block">
                <div class="row mt-3 mb-4">
                    <div class="col-lg-12"> 
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 style="font-family: dosis">Your perks <span class="ml-2 bill" style="font-size: 14px; font-family: lato; border-bottom: 2px solid #00ADEE;">See all 234 Perks</span></h3>
                            </div>
                        </div>
                        
                        <div class="row mt-3">
                            <div class="col-lg-4">
                                <a href="#">
                                    <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                        <img class="card-img-top img-fluid" src="/template-assets/images/nero.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h3 class="card-title mb-3" style="font-family: dosis;">Your weekly coffee</h3>
                                        
                                                <div class="row mt-2" style="margin-bottom: -20px;">
                                                    <div class="col-lg-7">
                                                        <p class="mt-2" style="padding-top: 12px; color: #3D3D36;"><img src="/template-assets/images/voucher.png" style="max-width: 20px;"> Digital voucher</p>
                                                    </div>
                                                     <div class="col-lg-5">
                                                        <h2 class="float-right mt-2 mb-0" style="font-family: dosis;">Free</h2>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                             
                            <div class="col-lg-4">
                                <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                    <img class="card-img-top img-fluid" src="/template-assets/images/odeon2.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h3 class="card-title mb-3" style="font-family: dosis;">Your monthly cinema</h3>
                                    
                                            <div class="row mt-2" style="margin-bottom: -20px;">
                                                <div class="col-lg-7">
                                                    <p class="mt-2" style="padding-top: 12px;"><img src="/template-assets/images/voucher.png" style="max-width: 20px;"> Digital voucher</p>
                                                </div>
                                                 <div class="col-lg-5">
                                                    <h2 class="float-right mt-2 mb-0" style="font-family: dosis;">Free</h2>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                    <img class="card-img-top img-fluid" src="/template-assets/images/medical1.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h3 class="card-title mb-3" style="font-family: dosis;">Perkbox Medical</h3>
                                    
                                            <div class="row mt-2" style="margin-bottom: -20px;">
                                                <div class="col-lg-7">
                                                    <p class="mt-2" style="padding-top: 12px;">24/7 Online GP</p>
                                                </div>
                                                 <div class="col-lg-5">
                                                    <h2 class="float-right mt-2 mb-0" style="font-family: dosis;">Free</h2>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        

                 <div class="row mt-2">
                    <div class="col-lg-6">
                        <h3 style="font-family: dosis">Reward & recognition <span class="ml-2 bill" style="font-size: 14px; font-family: lato; border-bottom: 2px solid #00ADEE;">See all Recognition</span></h3>
                    </div>
                </div>

                    <div class="row mt-3">
                        <div class="col-lg-6" style="padding-right: 0px;">
                            <div class="card text-center" style="background-color: #f5f5f5; border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                                <div class="card-body">
                                    <div class="mx-auto">
                                        <h3 class="card-title mb-2 pt-3" style="font-family: dosis;">Reward or recognise your team</h3>
                                            <button type="button" class="btn btn-warning waves-effect waves-light mt-2 mb-5" style="color: #3D3D36">Let's go</button>
                                        <div class="mx-auto">
                                            <img src="/template-assets/images/ILLUSTRATION.png" class="mx-auto mb-4" style="max-width: 313px;">
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="col-lg-6" style="padding-left: 0px;">
                            <div class="card" style="border-top-left-radius: 0px; border-bottom-left-radius: 0px; border: 1px solid rgba(0,0,0,.08);">
                                <div class="card-body">
                                    <div class="row reward" style="padding-top:10px; padding-bottom:5px;">
                                        <div class="col-lg-2">
                                            <img src="/template-assets/images/users/user-5.jpg" class="rounded-circle avatar-sm" alt="friend">
                                        </div>
                                        <div class="col-lg-7">
                                            <h4 style="font-family: dosis; font-weight: 600;" class="mt-0">Jamie Martin</h4>
                                            <p style="font-family: dosis;">Recognised by Jane Doe</p>
                                        </div>
                                        <div class="col-lg-3">
                                            <p class="" style="font-family:dosis">2 days ago</p>                                           
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row reward" style="padding-top:10px; padding-bottom:5px;">
                                        <div class="col-lg-2">
                                            <img src="/template-assets/images/users/user-3.jpg" class="rounded-circle avatar-sm" alt="friend">
                                        </div>
                                        <div class="col-lg-7">
                                            <h4 style="font-family: dosis; font-weight: 600;" class="mt-0">Rick Beattie</h4>
                                            <p style="font-family: dosis;">Recognised by Jane Doe</p>
                                        </div>
                                        <div class="col-lg-3">
                                            <p class="" style="font-family:dosis">4 days ago</p>                                           
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row reward" style="padding-top:10px; padding-bottom:5px;">
                                        <div class="col-lg-2">
                                            <img src="/template-assets/images/users/user-2.jpg" class="rounded-circle avatar-sm" alt="friend">
                                        </div>
                                        <div class="col-lg-7">
                                            <h4 style="font-family: dosis; font-weight: 600;" class="mt-0">Rachel James</h4>
                                            <p style="font-family: dosis;">Recognised by Jane Doe</p>
                                        </div>
                                        <div class="col-lg-3">
                                            <p class="" style="font-family:dosis">6 days ago</p>                                           
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row reward" style="padding-top:10px; padding-bottom:5px;">
                                        <div class="col-lg-2">
                                            <img src="/template-assets/images/users/user-1.jpg" class="rounded-circle avatar-sm" alt="friend">
                                        </div>
                                        <div class="col-lg-7">
                                            <h4 style="font-family: dosis; font-weight: 600;" class="mt-0">Helen Rider</h4>
                                            <p style="font-family: dosis;">Rewarded by Jane Doe</p>
                                        </div>
                                        <div class="col-lg-3">
                                            <p class="" style="font-family:dosis">12 days ago                                         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>

                <div class="row mt-2">
                    <div class="col-lg-6">
                        <h3 style="font-family: dosis">Company news</h3>
                    </div>
                </div>

                    <div class="row mt-4">
                            <div class="col-lg-4">
                                <a href="#">
                                    <div class="card">
                                        <img class="card-img img-fluid" src="/template-assets/images/deliveroo.png" alt="Card image cap">
                                    </div>
                                </a>
                            </div>
                             
                            <div class="col-lg-4">
                                <a href="#">
                                    <div class="card">
                                        <img class="card-img img-fluid" src="/template-assets/images/deliveroo.png" alt="Card image cap">
                                    </div>
                                </a>
                            </div>

                            <div class="col-lg-4">
                                <a href="#">
                                    <div class="card">
                                        <img class="card-img img-fluid" src="/template-assets/images/deliveroo.png" alt="Card image cap">
                                    </div>
                                </a>
                            </div>




            <div id = "div5" style="display:none">
                <div class="row mt-2">
                    <div class="col-lg-12">
                        <div class="card card-body text-center" style="border-style: dashed; border-width: 1px; border-color: #adada2;">
                            <div class="card-body">
                                <div class="mx-auto">
                                    <h3 class="card-title mb-2 pt-3" style="font-family: dosis;">Got important news to share with your company?</h3>
                                    <p>Add a link or video to the homepage for all your employees to see</p>
                                        <button onclick="replace();return false"/ type="button" class="btn btn-warning waves-effect waves-light mt-2 mb-5" style="color: #3D3D36">Add link or video</button> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id = "div6" style="display:none">
                <div class="row mt-2">
                    <div class="col-lg-4">
                        <div class="card card-body text-center bill" data-toggle="modal" data-target="#myModal" style="background-color: #f5f5f5;">
                            <div class="card-body">
                                <div class="mx-auto">
                                    <i class="fas fa-plus mt-5"></i> 
                                    <p class="mb-5 mt-2">Add link or video</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-body text-center bill" data-toggle="modal" data-target="#myModal" style="background-color: #f5f5f5;">
                            <div class="card-body">
                                <div class="mx-auto">
                                    <i class="fas fa-plus mt-5"></i> 
                                    <p class="mb-5 mt-2">Add link or video</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-body text-center bill" data-toggle="modal" data-target="#myModal" style="background-color: #f5f5f5;">
                            <div class="card-body">
                                <div class="mx-auto">
                                    <i class="fas fa-plus mt-5"></i> 
                                    <p class="mb-5 mt-2">Add link or video</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto">
                        <a href="" class="btn btn-light waves-effect waves-light" style="background-color: #fff; color: #3D3D36;" id="btn-archive">Cancel</a>
                    </div>
                </div>
            </div>


                </div>




                    
                </div>
            </div>
        </div>


            


                

                <div id="myModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <h4>Are you sure you want to hide your task bar?</h4>
                                            <p>We'll still send you notifications
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary waves-effect waves-light">Save changes</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div>
<!-- /.modal-dialog -->
                </div>

                <%- content_for :footer_js do %>

                <%= javascript_include_tag 'admin/libs/dropzone/dropzone.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/dropify/dropify.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/js/pages/form-fileuploads.init.js', 'data-turbolinks-track': 'reload' %>
  
<% end %>

<script> 
function replace() { 
document.getElementById("div1").style.display="none"; 
document.getElementById("div3").style.display="block"; 
} 

x=false;
function Check(){
    if(x){    
document.getElementById("div1").style.display='inline';
document.getElementById("div3").style.display='none';
x=false;
    }
    else{
 document.getElementById("div1").style.display='none'; 
     document.getElementById("div3").style.display='inline';   
x=true;    
    }

}

function replace() { 
document.getElementById("div5").style.display="none"; 
document.getElementById("div6").style.display="block"; 
} 



</script>




            
