<%- content_for :head_css do %>
  
<%= stylesheet_link_tag 'admin/libs/flatpickr/flatpickr.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'admin/libs/bootstrap-datepicker/bootstrap-datepicker.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/dropzone/dropzone.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/dropify/dropify.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<style>
    @import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
    @import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700');

    .card.bill:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  cursor: pointer;
}

.card.card-body.text-center.bill:hover {
    background-color: #000;
}

.row.reward:hover {
  cursor: pointer;
}

span.ml-2.bill:hover {
    cursor: pointer;
}

.ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px
}
.ribbon {
    font-size: 10px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Montserrat Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: .05em;
    line-height: 15px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    right: -11px;
    top: 10px;
    width: 100px;
    height: 28px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    background-color: #3D3D36;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdedede', GradientType=0)
}

.ribbon:before,
.ribbon:after {
    content: "";
    border-top: 3px solid #9e9e9e;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px
}

.ribbon:before {
    left: 0
}

.ribbon:after {
    right: 0
}



</style>

<% end %>

    <div class="wrapper">
        <div class="container">
            <span class="d-lg-block">


    
                
                <div class="row mb-0 mt-2">
                    <div class="col-6">
                        <h1 class="mb-3 mt-2" style="font-family: dosis; font-weight: 500;">Welcome back, <span class="underline">Jane</span>
                        </h1>
                    </div>
                    <div class="col-6">

                        <div class="custom-control custom-switch float-right mt-2">
                            <input type="checkbox" id="check" onclick="Check()" class="custom-control-input">
                            <label class="custom-control-label" for="check">Preview an example employee's homepage</label>
                        </div>

                    </div>

                     
                        

                </div>

           
        <div id="div1">
            <div id = "3" style="display:block">
                <div class="row mt-0 mb-4">
                    <div class="col-lg-12"> 
                        
                        <div class="row mt-3" style="display:none">
                            <div class="col-lg-12">
                                <a href="#">
                                    <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                        <div class="card-body">
                                            <h3 class="card-title mb-3" style="font-family: dosis;">Admin/Continue setup</h3>
                                            <p style="color: #3D3D36;"><i>Show the most relevent admin tasks for people to do. If still in setup mode. Drive people back into the setup flow</i></p>
                                        
                                                <div class="row mt-2" style="margin-bottom: -20px;">
                                                    <div class="col-lg-7">
                                                       
                                                    </div>
                                                     <div class="col-lg-5">
                                                        
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h3 style="font-family: dosis">Your recommendations <span class="ml-2 bill" style="font-size: 14px; font-family: lato; border-bottom: 2px solid #00ADEE;">See all Perks</span></h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-lg-3">
                                <a href="#">
                                    <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                        <img class="card-img-top img-fluid" src="/template-assets/images/nero.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h3 class="card-title mb-3" style="font-family: dosis;">Your weekly coffee</h3>
                                        
                                                <div class="row mt-2" style="margin-bottom: -20px;">
                                                    <div class="col-lg-8">
                                                        <p class="mt-2" style="padding-top: 12px; color: #3D3D36;"><img src="/template-assets/images/voucher.png" style="max-width: 20px;"> Digital voucher</p>
                                                    </div>
                                                     <div class="col-lg-4">
                                                        <h2 class="float-right mt-2 mb-0" style="font-family: dosis;">Free</h2>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                             
                            <div class="col-lg-3">
                                <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                    <img class="card-img-top img-fluid" src="/template-assets/images/odeon2.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h3 class="card-title mb-3" style="font-family: dosis;">Your monthly cinema</h3>
                                    
                                            <div class="row mt-2" style="margin-bottom: -20px;">
                                                <div class="col-lg-8">
                                                    <p class="mt-2" style="padding-top: 12px;"><img src="/template-assets/images/voucher.png" style="max-width: 20px;"> Voucher</p>
                                                </div>
                                                 <div class="col-lg-4">
                                                    <h2 class="float-right mt-2 mb-0" style="font-family: dosis;">Free</h2>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                    <img class="card-img-top img-fluid" src="/template-assets/images/example.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h3 class="card-title mb-3" style="font-family: dosis;">Example Offer</h3>
                                    
                                            <div class="row mt-2" style="margin-bottom: -20px;">
                                                <div class="col-lg-8">
                                                    <p class="mt-2" style="padding-top: 12px;">Example type</p>
                                                </div>
                                                 <div class="col-lg-4">
                                                    <h2 class="float-right mt-2 mb-0" style="font-family: dosis;">Free</h2>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                    <img class="card-img-top img-fluid" src="/template-assets/images/example.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h3 class="card-title mb-3" style="font-family: dosis;">Example Offer</h3>
                                    
                                            <div class="row mt-2" style="margin-bottom: -20px;">
                                                <div class="col-lg-9">
                                                    <p class="mt-2" style="padding-top: 12px;">Example type</p>
                                                </div>
                                                 <div class="col-lg-3">
                                                    <h2 class="float-right mt-2 mb-0" style="font-family: dosis;">Free</h2>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                             <div class="row mt-2">
                                    <div class="col-lg-6">
                                        <h3 style="font-family: dosis">Your products</h3>
                                    </div>
                            </div>

                        <div class="row mt-3 mb-4">

                            <div class="col-lg-12">
                                <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                  <div class="row">
                                    <div class="col-lg-1 col-md-2 col-sm-2">
                                        <img src="/template-assets/images/users/P.png" class="" alt="product-logo" style="max-width: 90px; border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                                      </div>
                                      <div class="col-lg-1 col-md-8 col-sm-8">
                                        <div class="card-block">
                                          <h2 class="card-title mt-2 mb-0 ml-0 float-left" style="font-family: dosis; padding-bottom: 1px; padding-left: 20px; padding-top: 14px;">Perks</h2>
                                        </div>
                                      </div>

                                      <div class="col-lg-7 px-3 d-none d-lg-block">
                                        <div class="card-block px-3">
                                          <p class="mt-2 mb-3 ml-3 float-left" style="font-family: dosis; padding-top: 20px; font-size: 19px; padding-left: 50px;">Hundreds of exclusive deals and discounts</p>
                                        </div>
                                      </div>

                                      <div class="col-lg-3 px-3 col-md-2 col-sm-2">
                                        <div class="card-block px-3">
                                          <h4 class="card-title mt-2 mb-3 float-right"><i class="fas fa-angle-right" style="padding-top: 25px; font-size: 19px;"></i></h4>
                                          
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                  <div class="row">
                                    <div class="col-lg-1 col-md-2 col-sm-2">
                                        <img src="/template-assets/images/users/R.png" class="" alt="product-logo" style="max-width: 90px; border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                                      </div>
                                      <div class="col-lg-1 col-md-8 col-sm-8">
                                        <div class="card-block">
                                          <h2 class="card-title mt-2 mb-0 ml-0 float-left" style="font-family: dosis; padding-bottom: 1px; padding-left: 20px; padding-top: 14px;">Recognition</h2>
                                        </div>
                                      </div>

                                      <div class="col-lg-7 px-3 d-none d-lg-block">
                                        <div class="card-block px-3">
                                          <p class="mt-2 mb-3 ml-3 float-left" style="font-family: dosis; padding-top: 20px; font-size: 19px; padding-left: 50px;">Reward & recognise top performers</p>
                                        </div>
                                      </div>

                                      <div class="col-lg-3 px-3 col-md-2 col-sm-2">
                                        <div class="card-block px-3">
                                          <h4 class="card-title mt-2 mb-3 float-right"><i class="fas fa-angle-right" style="padding-top: 25px; font-size: 19px;"></i></h4>
                                          
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                  <div class="row">
                                    <div class="col-lg-1 col-md-2 col-sm-2">
                                        <img src="/template-assets/images/users/I.png" class="" alt="product-logo" style="max-width: 90px; border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                                      </div>
                                      <div class="col-lg-1 col-md-8 col-sm-8">
                                        <div class="card-block">
                                          <h2 class="card-title mt-2 mb-0 ml-0 float-left" style="font-family: dosis; padding-bottom: 1px; padding-left: 20px; padding-top: 14px;">Insights</h2>
                                        </div>
                                      </div>

                                      <div class="col-lg-7 px-3 d-none d-lg-block">
                                        <div class="card-block px-3">
                                          <p class="mt-2 mb-3 ml-3 float-left" style="font-family: dosis; padding-top: 20px; font-size: 19px; padding-left: 50px;">Measure and improve employee engagement</p>
                                        </div>
                                      </div>

                                      <div class="col-lg-3 px-3 col-md-2 col-sm-2">
                                        <div class="card-block px-3">
                                          <h4 class="card-title mt-2 mb-3 float-right"><i class="fas fa-angle-right" style="padding-top: 25px; font-size: 19px;"></i></h4>
                                          
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card bill grey" style="border-style: dashed;
border-width: 0px;
border-color: #adada2; background-color: #efefef;">
                                    <div class="ribbon-wrapper">
                                        <div class="ribbon"><i class="fas fa-lock"></i> Unlock</div>
                                    </div>

                                  <div class="row">
                                    <div class="col-lg-1 col-md-2 col-sm-2">
                                        <img src="/template-assets/images/users/M.png" class="" alt="product-logo" style="max-width: 90px; border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                                      </div>
                                      <div class="col-lg-1 col-md-8 col-sm-8">
                                        <div class="card-block">
                                          <h2 class="card-title mt-2 mb-0 ml-0 float-left" style="font-family: dosis; padding-bottom: 1px; padding-left: 20px; padding-top: 14px; color: #888;">Medical</h2>
                                        </div>
                                      </div>

                                      <div class="col-lg-7 px-3 d-none d-lg-block">
                                        <div class="card-block px-3">
                                          <p class="mt-2 mb-3 ml-3 float-left" style="font-family: dosis; padding-top: 20px; font-size: 19px; padding-left: 50px; color: #888;">Get 24/7 access to an online GP</p>
                                        </div>
                                      </div>

                                      <div class="col-lg-3 px-3 col-md-2 col-sm-2">
                                        <div class="card-block px-3">
                                          <h4 class="card-title mt-2 mb-3 float-right"></h4>
                                          
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                            </div>



                        </div>
                    

             <div class="row mt-2">
                    <div class="col-lg-6">
                        <h3 style="font-family: dosis">The {Company name} space</h3>
                    </div>
            </div>



            <div id = "div5" style="display:block">
                <div class="row mt-2">
                    <div class="col-lg-12">
                        <div class="card card-body text-center" style="border-style: dashed; border-width: 1px; border-color: #adada2;">
                            <div class="card-body">
                                <div class="mx-auto">
                                    <h3 class="card-title mb-2 pt-3" style="font-family: dosis;">Give our homepage a touch of your secret sauce...</h3>
                                    <p>Want to promote perks, share news, upload videos or show off your culture?</p>
                                        <button onclick="replace();return false"/ type="button" class="btn btn-warning waves-effect waves-light mt-2 mb-5" style="color: #3D3D36">Get started</button> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id = "div6" style="display:none">
                <div class="row mt-2">
                    <div class="col-lg-4">
                        <div class="card card-body text-center bill" data-toggle="modal" data-target="#myModal" style="background-color: #f5f5f5;">
                            <div class="card-body">
                                <div class="mx-auto">
                                    <i class="fas fa-plus mt-5"></i> 
                                    <p class="mb-5 mt-2">Add new...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-body text-center bill" data-toggle="modal" data-target="#myModal" style="background-color: #f5f5f5;">
                            <div class="card-body">
                                <div class="mx-auto">
                                    <i class="fas fa-plus mt-5"></i> 
                                    <p class="mb-5 mt-2">Add new...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-body text-center bill" data-toggle="modal" data-target="#myModal" style="background-color: #f5f5f5;">
                            <div class="card-body">
                                <div class="mx-auto">
                                    <i class="fas fa-plus mt-5"></i> 
                                    <p class="mb-5 mt-2">Add new...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto">
                        <a href="" class="btn btn-light waves-effect waves-light" style="background-color: #fff; color: #3D3D36;" id="btn-archive">Cancel</a>
                        <a href="" class="btn btn-warning waves-effect waves-light" style="color: #3D3D36;" id="btn-archive">Add another row</a>
                    </div>
                </div>
            </div>


                </div>




                    
                </div>
            </div>
        </div>

        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header" style="padding: 0px;">
                                <ul class="nav nav-tabs nav-bordered">
                                    <li class="nav-item" style="margin-left: 20px;">
                                        <a href="#home-b1" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                            <h4>Add image</h4>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#profile-b1" data-toggle="tab" aria-expanded="true" class="nav-link">
                                            <h4>Add video</h4>
                                        </a>
                                    </li>
                                </ul>
                                <button type="button" class="close" data-dismiss="modal" class="float-right" aria-hidden="true" style="margin-top: 2px; margin-right: 25px;">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="home-b1">
                                        <div class="row">
                                            <div class="col-lg-6"> 
                                                <form action="/" method="post" class="dropzone" id="myAwesomeDropzone" style="height: 245px">
                                                    <div class="fallback">
                                                        <input name="file" type="file" multiple>
                                                    </div>
                                                    <div class="dz-message needsclick">
                                                        <i class="h1 text-muted dripicons-cloud-upload"></i>
                                                        <p>Upload your image <span style="color: red;">*</span></p>
                                                        <p class="text-muted small">
                                                            We recommend your image is 1920 x 1080px (16:9)
                                                        </p>
                                                    </div>
                                                </form>                                   
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group mb-3">
                                                    <label for="simpleinput">Add Link URL <span class="badge badge-light badge-pill" data-toggle="tooltip" data-placement="right" title="" data-original-title="Add a link that you'd like your employees to have access to. It could be anything fom your internal wiki, a google calendar or another product you use.">?</span></label>
                                                    <input type="text" id="simpleinput" class="form-control">
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label for="example-textarea">Description <span style="color: red;">*</span><span class="badge badge-light badge-pill" data-toggle="tooltip" data-placement="right" title="" data-original-title="We recommend you write an informative description that will be shown to all your employees underneath your image. It helps with add context, improve engagement and accessibility.">?</span></label>
                                                    <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                                                </div>                                      
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane show" id="profile-b1">
                                        <div class="row">
                                            <div class="col-lg-6"> 
                                                <form action="/" method="post" class="dropzone" id="myAwesomeDropzone" style="height: 245px">
                                                    <div class="fallback">
                                                        <input name="file" type="file" multiple>
                                                    </div>
                                                    <div class="dz-message needsclick">
                                                        <i class="h1 text-muted dripicons-cloud-upload"></i>
                                                        <p>Upload a thumbnail for your video</p>
                                                        <p class="small text-light">If you don't, we'll just use the first frame of your video as the thumbnail. We recommend your image is 1920 x 1080px (16:9)</p>
                                                    </div>
                                                </form>                                   
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group mb-3">
                                                    <label for="simpleinput">Vimeo or Youtube URL <span style="color: red;">*</span><span class="badge badge-light badge-pill" data-toggle="tooltip" data-placement="right" title="" data-original-title="Copy and paste in your link from Youtube or Vimeo and we'll let the video play on your homepage">?</span></label>
                                                    <input type="text" id="simpleinput" class="form-control">
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label for="example-textarea">Description <span style="color: red;">*</span><span class="badge badge-light badge-pill" data-toggle="tooltip" data-placement="right" title="" data-original-title="We recommend you write an informative description that will be shown to all your employees underneath your video. It helps add context and improve engagement">?</span></label>
                                                    <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                                                </div>                                      
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="" class="btn btn-light waves-effect waves-light" style="background-color: #fff; color: #3D3D36;" id="btn-archive">Save and preview as draft</a>
                                <a href="" class="btn btn-warning waves-effect waves-light" style="color: #3D3D36" id="btn-archive">Save and publish to all</a>
                            </div>
                        </div>
<!-- /.modal-content -->
                    </div>
<!-- /.modal-dialog -->
                </div>


        <div id="div3" style="display:none">
            <div id = "3" style="display:block">
                <div class="row">
                    <div class="col-lg-12">
                                <div class="alert alert-secondary bg-secondary text-white border-0" role="alert" style="background-color: #b8b8ba !important;">
                        Below is an example of what your employee's homepage will look like. Specific Perks shown may vary depending on their hobbies and preferences.
                    </div>
                </div>
            </div>
                <div class="row mt-3 mb-4">
                    <div class="col-lg-12"> 
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 style="font-family: dosis">Your recommendations <span class="ml-2 bill" style="font-size: 14px; font-family: lato; border-bottom: 2px solid #00ADEE;">See all Perks</span></h3>
                            </div>
                            </div>
                        </div>
                        
                    <div class="container">
                        <div class="row mt-3">
                            <div class="col-lg-3">
                                <a href="#">
                                    <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                        <img class="card-img-top img-fluid" src="/template-assets/images/nero.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h3 class="card-title mb-3" style="font-family: dosis;">Your weekly coffee</h3>
                                        
                                                <div class="row mt-2" style="margin-bottom: -20px;">
                                                    <div class="col-lg-8">
                                                        <p class="mt-2" style="padding-top: 12px; color: #3D3D36;"><img src="/template-assets/images/voucher.png" style="max-width: 20px;"> Digital voucher</p>
                                                    </div>
                                                     <div class="col-lg-4">
                                                        <h2 class="float-right mt-2 mb-0" style="font-family: dosis;">Free</h2>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                             
                            <div class="col-lg-3">
                                <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                    <img class="card-img-top img-fluid" src="/template-assets/images/odeon2.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h3 class="card-title mb-3" style="font-family: dosis;">Your monthly cinema</h3>
                                    
                                            <div class="row mt-2" style="margin-bottom: -20px;">
                                                <div class="col-lg-8">
                                                    <p class="mt-2" style="padding-top: 12px;"><img src="/template-assets/images/voucher.png" style="max-width: 20px;"> Voucher</p>
                                                </div>
                                                 <div class="col-lg-4">
                                                    <h2 class="float-right mt-2 mb-0" style="font-family: dosis;">Free</h2>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                    <img class="card-img-top img-fluid" src="/template-assets/images/example.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h3 class="card-title mb-3" style="font-family: dosis;">Example Offer</h3>
                                    
                                            <div class="row mt-2" style="margin-bottom: -20px;">
                                                <div class="col-lg-9">
                                                    <p class="mt-2" style="padding-top: 12px;">Example type</p>
                                                </div>
                                                 <div class="col-lg-3">
                                                    <h2 class="float-right mt-2 mb-0" style="font-family: dosis;">Free</h2>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                    <img class="card-img-top img-fluid" src="/template-assets/images/example.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h3 class="card-title mb-3" style="font-family: dosis;">Example Offer</h3>
                                    
                                            <div class="row mt-2" style="margin-bottom: -20px;">
                                                <div class="col-lg-9">
                                                    <p class="mt-2" style="padding-top: 12px;">Example type</p>
                                                </div>
                                                 <div class="col-lg-3">
                                                    <h2 class="float-right mt-2 mb-0" style="font-family: dosis;">Free</h2>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>

                 <div class="row mt-2">
                                    <div class="col-lg-6">
                                        <h3 style="font-family: dosis">Your products</h3>
                                    </div>
                            </div>

                        <div class="row mt-3 mb-4">

                            <div class="col-lg-12">
                                <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                  <div class="row">
                                    <div class="col-lg-1 col-md-2 col-sm-2">
                                        <img src="/template-assets/images/users/P.png" class="" alt="product-logo" style="max-width: 90px; border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                                      </div>
                                      <div class="col-lg-1 col-md-8 col-sm-8">
                                        <div class="card-block">
                                          <h2 class="card-title mt-2 mb-0 ml-0 float-left" style="font-family: dosis; padding-bottom: 1px; padding-left: 20px; padding-top: 14px;">Perks</h2>
                                        </div>
                                      </div>

                                      <div class="col-lg-7 px-3 d-none d-lg-block">
                                        <div class="card-block px-3">
                                          <p class="mt-2 mb-3 ml-3 float-left" style="font-family: dosis; padding-top: 20px; font-size: 19px; padding-left: 50px;">Hundreds of exclusive deals and discounts</p>
                                        </div>
                                      </div>

                                      <div class="col-lg-3 px-3 col-md-2 col-sm-2">
                                        <div class="card-block px-3">
                                          <h4 class="card-title mt-2 mb-3 float-right"><i class="fas fa-angle-right" style="padding-top: 25px; font-size: 19px;"></i></h4>
                                          
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                  <div class="row">
                                    <div class="col-lg-1 col-md-2 col-sm-2">
                                        <img src="/template-assets/images/users/R.png" class="" alt="product-logo" style="max-width: 90px; border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                                      </div>
                                      <div class="col-lg-1 col-md-8 col-sm-8">
                                        <div class="card-block">
                                          <h2 class="card-title mt-2 mb-0 ml-0 float-left" style="font-family: dosis; padding-bottom: 1px; padding-left: 20px; padding-top: 14px;">Recognition</h2>
                                        </div>
                                      </div>

                                      <div class="col-lg-7 px-3 d-none d-lg-block">
                                        <div class="card-block px-3">
                                          <p class="mt-2 mb-3 ml-3 float-left" style="font-family: dosis; padding-top: 20px; font-size: 19px; padding-left: 50px;">Reward & recognise top performers</p>
                                        </div>
                                      </div>

                                      <div class="col-lg-3 px-3 col-md-2 col-sm-2">
                                        <div class="card-block px-3">
                                          <h4 class="card-title mt-2 mb-3 float-right"><i class="fas fa-angle-right" style="padding-top: 25px; font-size: 19px;"></i></h4>
                                          
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                  <div class="row">
                                    <div class="col-lg-1 col-md-2 col-sm-2">
                                        <img src="/template-assets/images/users/I.png" class="" alt="product-logo" style="max-width: 90px; border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                                      </div>
                                      <div class="col-lg-1 col-md-8 col-sm-8">
                                        <div class="card-block">
                                          <h2 class="card-title mt-2 mb-0 ml-0 float-left" style="font-family: dosis; padding-bottom: 1px; padding-left: 20px; padding-top: 14px;">Insights</h2>
                                        </div>
                                      </div>

                                      <div class="col-lg-7 px-3 d-none d-lg-block">
                                        <div class="card-block px-3">
                                          <p class="mt-2 mb-3 ml-3 float-left" style="font-family: dosis; padding-top: 20px; font-size: 19px; padding-left: 50px;">Measure and improve employee engagement</p>
                                        </div>
                                      </div>

                                      <div class="col-lg-3 px-3 col-md-2 col-sm-2">
                                        <div class="card-block px-3">
                                          <h4 class="card-title mt-2 mb-3 float-right"><i class="fas fa-angle-right" style="padding-top: 25px; font-size: 19px;"></i></h4>
                                          
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                            </div>
                            
                            

                        </div>

                <div class="row mt-2">
                    <div class="col-lg-6">
                        <h3 style="font-family: dosis">The {Company name} space</h3>
                    </div>
                </div>

                    <div class="row mt-2 mb-4">
                        <div class="col-lg-12">
                            <div class="card-deck-wrapper">
                                <div class="card-deck">
                                    <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                        <img class="card-img img-fluid" src="/template-assets/images/deliveroo2.png" alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">This is a longer, clickable card with description text below as
                                                a natural lead-in to additional content. This content is a little
                                                bit longer.</p>
                                        </div>
                                    </div>

                                    <div class="card" style="border: 1px solid rgba(0,0,0,.08);">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_jnsL96WrUM"></iframe>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">This card has description text below as a natural
                                                lead-in to additional content.</p>
                                        </div>
                                    </div>

                                    <div class="card" style="border: 1px solid rgba(0,0,0,.08);">
                                        <img class="card-img img-fluid" src="/template-assets/images/deliveroo2.png" alt="Card image cap">
                                        <div class="card-body">
                                            This card has tiny text.
                                        </div>
                                    </div>

                                </div> <!-- end card-deck-->
                            </div>  
                        </div>  
                    </div>

                    <div class="row mt-2 mb-4">
                        <div class="col-lg-12">
                            <div class="card-deck-wrapper">
                                <div class="card-deck">
                                    <div class="card bill" style="border: 1px solid rgba(0,0,0,.08);">
                                        <img class="card-img img-fluid" src="/template-assets/images/deliveroo2.png" alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">This is a longer, clickable card with description text below as
                                                a natural lead-in to additional content. This content is a little
                                                bit longer.</p>
                                        </div>
                                    </div>

                                    <div class="card" style="border: 1px solid rgba(0,0,0,.08);">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_jnsL96WrUM"></iframe>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">This card has description text below as a natural
                                                lead-in to additional content.</p>
                                        </div>
                                    </div>
                                </div> <!-- end card-deck-->
                            </div>  
                        </div>  
                    </div>




            <div id = "div5" style="display:none">
                <div class="row mt-2">
                    <div class="col-lg-12">
                        <div class="card card-body text-center" style="border-style: dashed; border-width: 1px; border-color: #adada2;">
                            <div class="card-body">
                                <div class="mx-auto">
                                    <h3 class="card-title mb-2 pt-3" style="font-family: dosis;">Got important news to share with your company?</h3>
                                    <p>Add an image, link or video to the homepage for all your employees to see</p>
                                        <button onclick="replace();return false"/ type="button" class="btn btn-warning waves-effect waves-light mt-2 mb-5" style="color: #3D3D36">Add link or video</button> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id = "div6" style="display:none">
                <div class="row mt-2">
                    <div class="col-lg-4">
                        <div class="card card-body text-center bill" data-toggle="modal" data-target="#myModal" style="background-color: #f5f5f5;">
                            <div class="card-body">
                                <div class="mx-auto">
                                    <i class="fas fa-plus mt-5"></i> 
                                    <p class="mb-5 mt-2">Add image, link or video</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-body text-center bill" data-toggle="modal" data-target="#myModal" style="background-color: #f5f5f5;">
                            <div class="card-body">
                                <div class="mx-auto">
                                    <i class="fas fa-plus mt-5"></i> 
                                    <p class="mb-5 mt-2">Add image, link or video</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-body text-center bill" data-toggle="modal" data-target="#myModal" style="background-color: #f5f5f5;">
                            <div class="card-body">
                                <div class="mx-auto">
                                    <i class="fas fa-plus mt-5"></i> 
                                    <p class="mb-5 mt-2">Add image, link or video</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto">
                        <a href="" class="btn btn-light waves-effect waves-light" style="background-color: #fff; color: #3D3D36;" id="btn-archive">Cancel</a>
                    </div>
                </div>
            </div>


                </div>




                    
                </div>
            </div>
        </div>


            


                

                <div id="myModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Hide Insights from homepage</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <p>We understand, no hard feelings. Please confirm if you're still ok with us emailing you occassional promotional material about new products when they arrive?</p>
                                            <div class="checkbox mb-2">
                                                <input id="checkbox0" type="checkbox">
                                                <label for="checkbox0">
                                                    Yes, I confirm
                                                </label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light waves-effect" data-dismiss="modal" style="background-color: #fff; color: #3D3D36;">Cancel</button>
                                            <button type="button" class="btn btn-warning waves-effect waves-light" style="color: #3D3D36;">Hide Insights</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div>
<!-- /.modal-dialog -->
                </div>

                <%- content_for :footer_js do %>

                <%= javascript_include_tag 'admin/libs/dropzone/dropzone.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/dropify/dropify.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/js/pages/form-fileuploads.init.js', 'data-turbolinks-track': 'reload' %>
  
<% end %>

<script> 
function replace() { 
document.getElementById("div1").style.display="none"; 
document.getElementById("div3").style.display="block"; 
} 

x=false;
function Check(){
    if(x){    
document.getElementById("div1").style.display='inline';
document.getElementById("div3").style.display='none';
x=false;
    }
    else{
 document.getElementById("div1").style.display='none'; 
     document.getElementById("div3").style.display='inline';   
x=true;    
    }

}

function replace() { 
document.getElementById("div5").style.display="none"; 
document.getElementById("div6").style.display="block"; 
} 



</script>




            
